// White
$white: #FFFFFF;

// Grey
$darker-grey: #2A2A2A;
$dark-grey: #333;
$light-grey: #e7e7e7;

// Blue
$darker-blue: #210d34;
$dark-blue: #2f1a5a;
$light-blue: #66d0ff;

$blue-gradient: linear-gradient($darker-blue 0, $darker-blue 50%, $dark-blue);

// Yellow
$yellow: #ff0;

// Orange
$orange: #ff6d32;

// Pink
$pink: #F42C64;
$light-pink: #CCB3DA;

/*
$s: #2893cd;
$s: #b93df3;
$s: #802abf;
$s: #de964e;
$s: #e57d58;
$s: rgb(255, 229, 125);
$s: rgb(255, 222, 150);
*/
