@import "components/box";
@import "components/dropdown";
@import "components/sidebar";
@import "components/button";
@import "components/tooltip";

.form-group {
    margin-bottom: 1.5rem;

    label {
        display: inline-block;
        margin-bottom: .3rem;
    }
}
