@import "components/box";
@import "components/dropdown";
@import "components/sidebar";
@import "components/button";

.label {
    border: 1px solid $grey;
    border-radius: 3px;
    padding: .5rem 1rem;
}

