.sidebar {
    position: relative;
    z-index: $z-index-sidebar;
    flex-shrink: 0;
    background-color: $light-blue;
    width: 35rem;
    height: $sidebar-height;
    padding: 2rem 2.5rem;
    animation: sidebar-slide-in .6s ease-out;
    box-shadow: $shadow;
}

.dropdown {
    height: 100%;

    .btn {
        height: 100%;
        background-color: transparent;
        color: $light-grey;
    }

    .dropdown-menu {
        position: relative;
        display: none;
        background-color: $darker-grey;
        min-width: 6rem;

        &.show {
            display: flex;
            flex-direction: column;
        }

        .dropdown-item {
            color: $light-grey;
            padding: 1rem 4rem;
            text-align: center;

            &:hover {
                color: $white;
                background-color: $dark-grey;
            }
        }

    }
}

.box {
    width: 100%;
    border: .05rem solid $grey;
    background-color: $white;
    padding: 4rem 3rem;
    box-shadow: $shadow;
    flex-wrap: wrap;
    border-radius: 2px;

    .box-header {
        margin-bottom: 2rem;
    }

    .box-body {
    }
}

.label {
    border: 1px solid $grey;
    border-radius: 3px;
    padding: .5rem 1rem;
}

