.calendar-root {

    .input-date {
        position: relative;
        width: 100% !important;
        padding: .8rem 1.3rem !important;

        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        background-color: white;
        color: black;

        &:after {
            content: '' !important;
            position: absolute;
            right: 1.5rem;
            top: 45%;

            border-style: solid;
            border-width: 5px 5px 0;
            border-color: #999 transparent transparent;
        }
    }

    .calendar {
        height: auto !important;
    }
}

.multiselect__tags, .input-date {
    border-radius: .1rem !important;
    border: 1px solid $grey !important;
}

i {
    &.fa {
        display: flex;
        align-items: center;
    }
}
