.main {
    height: $main-content-height;
    background-color: $lighter-grey;
    overflow: hidden;
    width: 100vw;
    display: flex;

    > .container, .sidebar {
        display: flex;
    }

    .container {
        flex: 0 0 $container-width;
        padding: 1rem;
        overflow-y: auto;
        overflow-x: hidden;
        height: $main-content-height;
        width: $container-width;
    }
}
