@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "./colors";

@font-face {
    font-family: BurbankBigCondensedBlack;
    src: url("/dist/fonts/BurbankBigCondensed-Black.otf") format("opentype");
}

html {
    font-size: 62.5%; /* Now 10px = 1rem! */
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: $dark-grey;
}

h1, h2, h3, h4, h5, h6 {
    font-family: BurbankBigCondensedBlack, sans-serif;
}

@mixin heading($size){
    font-size: $size;
    line-height: $size;
}

h1 {
    @include heading(9.6rem);
}

h2 {
    @include heading(6.4rem);
}

h3 {
    @include heading(4.6rem);
}

h4 {
    @include heading(3.4rem);
}

h5 {
    @include heading(2.8rem);
}

h6 {
    @include heading(2.2rem);
}
