.text {

    // TODO set text sizes

    &-xs {
        font-size: 1rem;
    }

    &-sm {
        font-size: 1rem;
    }

    &-md {
        font-size: 1rem;
    }

    &-lg {
        font-size: 1rem;
    }

    &-xl {
        font-size: 1rem;
    }

    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }

}

.flex {
    display: flex;

    &-center {
        display: flex;
        align-items: center;
    }

    &-col {
        display: flex;
        flex-direction: column;
    }
}
