@import "utilities/flex";
@import "utilities/margin";
@import "utilities/typography";

.self {
    &-stretch {
        align-self: stretch;
    }
}

.full {
    height: 100%;
    width: 100%;

    &-height {
        height: 100%;
    }

    &-width {
        width: 100%;
    }
}

.pointer {
    cursor: pointer;
}
