@import "~@scss-mixins";

.matches {
    &.v-enter {
        .sidebar {
            @include sidebar-out;
        }
        .container {
            opacity: 0;
        }
    }
    &.v-enter-active {
        @include animation-enter;

        .sidebar, .container {
            @include animation-enter;
        }
    }
    &.v-enter-to {
        .sidebar {
            @include sidebar-in;
        }
        .container {
            opacity: 1;
        }
    }

    &.v-leave {
        .sidebar {
            @include sidebar-in;
        }
        .container {
            opacity: 1;
        }
    }
    &.v-leave-active {
        @include animation-leave;

        .sidebar, .container {
            @include animation-leave;
        }
    }
    &.v-leave-to {
        .sidebar {
            @include sidebar-out;
        }
        .container {
            opacity: 0;
        }
    }
}
