.btn {
    padding: .5rem 2rem;
    transition: box-shadow .4s, transform .4s, color .4s;
    box-shadow: 1px 1px 3px $grey;

    &:hover {
        box-shadow: 3px 3px 5px $grey;
        transform: translate(-.5px, -.5px) scale(1.015);
    }

    &:active {
        box-shadow: none;
        transform: translate(0) scale(0.95);
    }

    &.dead {
        box-shadow: none;

        &:hover {
            box-shadow: none;
            transform: none;
        }

        &:active {
            box-shadow: none;
            transform: none;
        }
    }

    &:disabled {
        @extend .dead;
        background-color: $grey !important;
        cursor: not-allowed;
    }

    &.btn-primary {
        color: $white;
        background-color: $light-blue;
    }

    &.btn-danger {
        color: $white;
        background-color: $red;
    }

    //&.btn-secondary {
    //    color: $white;
    //    background-color: $green;
    //}
}
