.form-group {
    position: relative;

    > * {
        font-family: BrutalType, sans-serif;
        font-weight: 600;
    }

    .form-control {
        //border-color: $grey;
        padding: 1.2rem 0 0 1.4rem;
    }

    .label {
        position: absolute;
        left: 15.5px;
        top: 1rem;
        pointer-events: none;
        text-transform: uppercase;

        font-size: 1.16rem;
        color: $grey;

        transition: all .18s ease;

        &.filled {
            top: .2rem;
            bottom: 10px;
            left: 15.5px;
            font-size: .88rem;
            opacity: 1;
        }
    }
}
