.sidebar {
    position: relative;
    z-index: $z-index-sidebar;
    flex-shrink: 0;
    background-color: $light-blue;
    width: $sidebar-width;
    height: $main-content-height;
    padding: 2rem 2.5rem;
    transition: all 1s;
    box-shadow: $shadow;
}
