@import "fonts";
@import "utilities";
@import "~@scss/variables/colors.scss";

html {
    font-size: 62.5%;
}

body, input {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: $dark-grey;
}

@mixin heading($size){
    font-size: $size;
    line-height: $size;
}

h1, h2, h3, h4, h5, h6 {
    font-family: BurbankBigCondensedBlack, sans-serif;
}

h1 {
    @include heading(9.6rem);
}

h2 {
    @include heading(6.4rem);
}

h3 {
    @include heading(4.6rem);
}

h4 {
    @include heading(3.4rem);
}

h5 {
    @include heading(2.2rem);
}

h6 {
    @include heading(1.6rem);
}
