.text {

    // TODO set text sizes

    &-xs {
        font-size: .8rem;
    }

    &-sm {
        font-size: 1.2rem;
    }

    &-md {
        font-size: 1.6rem;
    }

    &-lg {
        font-size: 2rem;
    }

    &-xl {
        font-size: 2.4rem;
    }

    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }

    &-bold {
        font-weight: 600;
    }

    &-primary {
        color: $light-blue;
    }

    &-danger {
        color: $red;
    }

    &-muted {
        color: $grey;
    }

    &-green {
        color: $light-green;
    }

}
